$gray-var: #C0C0C0;
$dark-blue-var: #0E1635;
$light-blue-var: #00308F;
$border-var: 2px ridge $light-blue-var;
$border-shadow-var: 5px 5px 5px 5px $dark-blue-var;

.authContainer{
    margin: 150px auto;
}

.register {
    margin: 60px auto;
    width: 800px;
    height: 500px;
    display: flex;
    border: $border-var;
    box-shadow: $border-shadow-var;

    img {
        width: 40%;
    }
}

.login {
    margin: 60px auto;
    width: 700px;
    height: 380px;
    display: flex;
    border: $border-var;
    box-shadow: $border-shadow-var;

    img {
        width: 40%;
    }
}

h2 {
    color: $gray-var;
    padding-top: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}