$gray-var: #C0C0C0;
$dark-blue-var: #0E1635;
$light-blue-var: #00308F;
$border-var: 2px ridge $light-blue-var;
$border-shadow-var: 5px 5px 5px 5px $dark-blue-var;

form {
    background: $dark-blue-var;
    padding: 45px;
    text-align: center;
    border-left: none;
    display: inline-block;

    input,
    textarea {
        outline: 0;
        background: $gray-var;
        width: 90%;
        height: 50px;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif
    }

    input::placeholder {
        color: $light-blue-var;
    }

    button {
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 5px;
        font-size: 18px;
        background-color: $light-blue-var;
        color: $gray-var;
        width: 90%;
        border: none;
    }

    button:hover {
        cursor: pointer;
        zoom: 120%;
    }

    h2 {
        margin-top: -10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        color: $light-blue-var;
        text-decoration: none;
    }

    p {
        color: $gray-var;
    }
}

h2 {
    color: $gray-var;
    padding-top: 10px;
    text-align: center;
}

.register {
    margin-top: 60px;
    width: 800px;
    height: 500px;
    margin-left: 550px;
    display: inline-flex;
    border: $border-var;
    box-shadow: $border-shadow-var;

    img {
        width: 40%;
    }
}

.login {
    margin-top: 60px;
    width: 700px;
    height: 380px;
    margin-left: 600px;
    display: inline-flex;
    border: $border-var;
    box-shadow: $border-shadow-var;

    img {
        width: 40%;
    }
}