$gray-var: #C0C0C0;
$dark-blue-var: #0E1635;
$light-blue-var: #00308F;
$border-var: 2px ridge $light-blue-var;
$border-shadow-var: 5px 5px 5px 5px $dark-blue-var;

.container {
    margin: 0;
    padding: 0;
    margin-left: 150px;
    padding-top: 100px;
    height: 100%;
    width: 700px;
    background-color: $dark-blue-var;
    overflow: auto;
}

.addition {
    background-color: $dark-blue-var;
    height: 450px;
    width: 600px;
    position: fixed;
    left: 57%;
    top: 17%;
    border-radius: 10px;
    border: $border-var;
    box-shadow: $border-shadow-var;
}