$gray-var: #C0C0C0;
$dark-blue-var: #0E1635;
$light-blue-var: #00308F;
$border-var: 2px ridge $light-blue-var;
$border-shadow-var: 5px 5px 5px 5px $dark-blue-var;

.details {
    margin: auto;
    margin-top: 90px;

    height: 700px;
    width: 1250px;

    padding: 0;
    background-color: $dark-blue-var;
    display: flex;

    img {
        object-fit: cover;
        background-position-x: center;
        margin: auto;
        height: 100%;
        width: 70%;
    }

}

.detailsInfo {
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0;
    background-color: $dark-blue-var;
    overflow-x: hidden;
    overflow-y: hidden;
}

.detailsUser {
    background-color: $dark-blue-var;
    width: 100%;
    height: 20%;
    display: flex;

    img {
        height: 80%;
        width: 30%;
        border: $border-var;
        border-radius: 60%;
        margin-left: 15px;
        margin-right: 0;
        padding-right: 0;
    }


    .detailsPostInfo {
        color: $gray-var;

        h2 {
            margin: 25px 0 0 15px;
            padding: 0;

        }

        h3 {
            margin: 10px 0 0 25px;
            padding: 0;

        }

        p {
            margin: 10px 0 0 25px;
            padding: 0;
        }
    }

}

.detailsDescription {
    width: 100%;
    height: 12%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    padding-right: 17px;
    border-bottom: $border-var;

    p {
        color: $gray-var;
        margin-left: 15px;
        margin-top: 5px;
    }
}

.detailsComments {
    width: 100%;
    height: 46%;
    margin: 0;
    padding: 0;
}

.detailsInteract {
    width: 100%;
    height: 22%;
    margin: 0;
    padding: 0;

    form {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 55%;

        textarea {
            margin: 0;
            padding: 5px;
            border-radius: 0;
            width: 100%;
            height: 100%;
            text-align: left;
        }
    }
}

.detailsLike {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44%;
    border-top: $border-var;

    p {
        width: 100%;
        height: 30%;
        padding: 0;
        color: $gray-var;
        margin: 0;
        text-align: center;
    }

    button {
        width: 100%;
        height: 70%;
        background-color: $light-blue-var;
        border: none;
        font-size: 20px;
        color: $gray-var;
    }

    button:hover {
        cursor: pointer;
        zoom: 120%;
    }

}